<table *ngIf="employee">
<thead>
    <th colspan="2">Employee Detail</th>
</thead>
    <tbody>
       
    <tr>
        <td>Employee Code</td>
        <td>{{employee.eid}}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{employee.name}}</td>
    </tr>
    <tr>
        <td>Depertment</td>
        <td>{{employee.depertment}}</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>{{employee.gender}}</td>
    </tr>
    <tr>
        <td>Salary</td>
        <td>{{employee.salary}}</td>
    </tr>

</tbody>
</table>
<div *ngIf="!employee">
{{statusMessage}}
</div>

<div style="margin-top: 5px;">
    <input type="button" class="btn btn-primary" value="Back to List" (click)="onBackButtonClick()">
</div>

